body{background-image: cover all;
background-color:rgb(152, 235, 152);
font-family: 'Bruno Ace', cursive;
height: 100vh;
}
img.imgapp{
height: 300px;
border-radius: 5%;
float: right;}
div.divapp{
    background-color: chartreuse;
    
}
div.container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
div.divemail{
    background-color: wheat;
    word-wrap: break-word;
    text-align: center;border: solid rgb(255, 83, 83);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div.reponses{
    background-color: cadetblue;
    width: 400px;
    padding: 3px;
    border-radius: 2%;
    border: solid palevioletred 2px;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
ul.ulapp{
    display: flex;
}
li{
    margin-right: 35px;
    list-style: none;
    list-style-type: square;
    
    color: antiquewhite;
    
}
div.chef{
   background-color: rgb(81, 183, 85);
   height:auto;display: flex;
   width: max-content;
}
h1.login{
    text-align: center;
    color: crimson;
    text-decoration: underline;
}
h1.titre1{
    text-align: center;
    font-family: 'Bruno Ace', cursive;
    
}
p.titre1{
    text-align: center;
}
header.headerapp{
    background-color: rgb(20, 220, 73);
    height: 30px;
}
h2.titre2{
    text-align: center;
}
form.formsondage{
    background-color: rgb(53, 255, 188);
    width: 300px;
    border:solid 2px crimson;
    padding: 10px;
    border-radius: 1%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
input.btn1{
    margin: 5px;
}
input{
    margin: 15px ;
}
label{
    text-decoration:underline ;
}
input.formsondage{
    margin: 15px;
}
select.formsondage{
    margin: 15px;
}
div.login{
    height: 300px;
    width: 200px;
    border: solid ;
    word-wrap:break-word;
    background-color: rgb(60, 245, 143);
    color: rgb(16, 135, 96);
    padding: 02%;
    text-align: center;
    margin-left: 41%;
}
div.footer{
    text-align: center; 
    color:red;
    margin-top: 10%;
}
div.titre1{
    background-color: aquamarine;
}

span{
    color:red;
    font-weight: bold;
}
span.num{
    color:rgb(235, 61, 245)

}
div.forming{text-align: center;
margin-left: 39.3%;}
